@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

:root {
    --cor-background: #FFFFFF;
    --cor-primaria: #E0F0FF;
    --cor-secundaria: #70B8FF;
    --cor-ternaria: #1E4F91;
    --cor-botao-hover: #163E72;
    --fonte-principal: 'Roboto', sans-serif;
}

.container-navegacao {
    background-color: var(--cor-primaria);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.container-navegacao ul {
    display: flex;
    gap: 6.25rem;
    list-style: none;
}

.container-navegacao a {
    text-decoration: none;
    color: var(--cor-ternaria);
    font-weight: 500;
}

.container-navegacao strong {
    font-weight: 900;
}

main {
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: var(--cor-ternaria);
    padding: 14px;
}

.container-desenhos-mais-curtidos {
    background-color: var(--cor-primaria);
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: var(--cor-ternaria);
}

.container-desenhos-mais-curtidos h2 {
    font-size: 48px;
}

.container-desenhos-mais-curtidos p {
    font-size: 24px;
}

.container-podio {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container-lugar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 20px;
}

.primeiro-lugar {
    height: 440px;
    background-color: #3266c7;
}

.segundo-lugar {
    height: 320px;
    background-color: #1E90FF;
}

.terceiro-lugar {
    height: 200px;
    background-color: #a7d2ff;
}

.container-podio img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%; 
    transition: transform 0.3s ease;
}

.container-podio img:hover {
    transform: scale(1.05);
}

.container-generos-mais-curtidos {
    background-color: var(--cor-primaria);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grafico-generos-mais-curtidos {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color: var(--cor-ternaria);
}

.grafico-generos-mais-curtidos p {
    font-size: 24px;
}

.indicadores-grafico {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
}

.kpis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
