@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

:root {
    --cor-background: #FFFFFF;
    --cor-primaria: #E0F0FF;
    --cor-secundaria: #70B8FF;
    --cor-ternaria: #1E4F91;
    --cor-botao-hover: #163E72;
    --fonte-principal: 'Roboto', sans-serif;
}

h1 {
    color: var(--cor-ternaria);
    padding: 14px;
}

main {
    background-color: var(--cor-primaria);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-cadastro {
    background-color: var(--cor-background);
    color: var(--cor-ternaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 30rem;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.container-nome-sobrenome-data_nascimento-genero-email-senha-cadastrar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-nome-sobrenome input {
    all: unset;
    border: 1px solid var(--cor-secundaria);
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    width: 10rem;
    height: 2rem;
}

select {
    outline: none;
    border: 1px solid var(--cor-secundaria);
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    width: 5rem;
    height: 1.5rem;
}

.container-data_nascimento-select-genero-sexo {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.container-data_nascimento-select-genero-sexo p {
    font-size: 12px;
    font-weight: 500;
}

.container-select-genero {
    display: flex;
    gap: 0.5rem;
}

.container-sexo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: solid 1px var(--cor-secundaria);
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    width: 6rem;
    height: 1.5rem;
}

.container-usuario-email-senha input {
    all: unset;
    border: 1px solid var(--cor-secundaria);
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    width: 20rem;
    height: 2rem;
}

.container-cadastrar {
    background-color: var(--cor-ternaria);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 20rem;
    height: 2rem;
    cursor: pointer;
}

.container-cadastrar:hover {
    background-color: var(--cor-botao-hover);
}

.container-cadastrar a {
    text-decoration: none;
    font-size: 14px;
    color: var(--cor-background);
}

.container-entrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-entrar a {
    text-decoration: none;
    font-size: 12px;
    color: var(--cor-ternaria);
}